.waiting {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: pulsate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: pulsate;
}
@keyframes pulsate {
	from { background-color: #f2acac; }
	50% { background-color: #acf2ac; }
	to { background-color: #f2acac; }
}
@-webkit-keyframes pulsate {
	from { background-color: #f2acac; }
	50% { background-color: #acf2ac; }
	to { background-color: #f2acac; }
}
